
@{
    ViewBag.Title = "Panel";
}

<br /><br /><br /><br /><br />

<div class="panel panel-primary">
    <div class="panel-heading">
        Panel Principal
    </div>

    <div class="panel-body">

        <span><label>Cliente: </label></span>
        <center>
            <!--CLIENTE-->
            <div class="col-md-12">
                <div class="col-md-2">
                    <a href="#" onclick="transacciones();">
                        <img src="~/Content/img/panel/transaction_80px.png" alt="Alternate Text" /><br />
                        <span>Transacciones</span>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" onclick="prestamos();">
                        <img src="~/Content/img/panel/cash_in_hand_80px.png" alt="Alternate Text" /><br />
                        <span>Pedir préstamo</span>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" onclick="historialu();">
                        <img src="~/Content/img/panel/duration_finance_80px.png" alt="Alternate Text" /><br />
                        <span>Historial</span>
                    </a>
                    <hr />
                </div>
                <div class="col-md-2">
                    <a href="#" onclick="micuenta();">
                        <img src="~/Content/img/panel/ledger_80px.png" alt="Alternate Text" /><br />
                        <span>Estado de cuenta</span>
                    </a>
                    <hr />
                </div>
            </div>
        </center>

        

        <span><label>Administrador: </label></span>
        <center>
            <!--Administrador-->
            <div class="col-md-12">
                <div class="col-md-2">
                    <a href="#" onclick="procesos();">
                        <img src="~/Content/img/panel/transaction_list_80px.png" alt="Alternate Text" /><br />
                        <span>Procesos del día</span>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" onclick="estadocaja();">
                        <img src="~/Content/img/panel/tips_80px.png" alt="Alternate Text" /><br />
                        <span>Estado de caja</span>
                    </a>
                </div>
            </div>
        </center>

        

    </div>
</div>

<script type="text/javascript" src="~/Scripts/app/panel.js"></script>
