
@{
    ViewBag.Title = "HistorialU";
}

<br />
<br />
<br />
<br />
<div class="panel panel-info">

    <div class="panel-heading">
        <label><b><span id="lblinicial">HISTORIAL PERSONAL</span></b></label>

        <button type="button" class="btn btn-danger btn-sm" style="float:right;" id="cerrarModulo"><i class="fa fa-window-close"></i></button>

    </div>

    <div class="panel-body">

        <div id="divlistahistorial">

            <div class="col-md-12">
                <hr />
                <div class="col-md-12">

                    <table class="table table-condensed table-bordered table-hover dt-reponsive tablas">
                        <thead>
                            <tr>
                                <th>ID Usuario</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/app/historialu.js"></script>
<script type="text/javascript" src="~/Scripts/js/validaciones.js"></script>

